[user]
	name = Alex Mc'key
	email = mckey2002@yandex.ru
[credential]
	helper = manager
[color]
	ui = true
[core]
	editor = nano
[alias]
	lg = log --pretty=format:'%h  %ar: %s'
	last = log -1 HEAD
	st = status
	cm = commit
